.tier1{
    width: 80%;
}
.tier2{
    width: 80%;
}
.tier3{
    width: 80%;
}
.tier4{
    width: 80%;
}
.fInput{
    width:90%;
}

.tournaTd{
    width: 5em;
    text-align: center;
}